{margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
scroll-behavior:smooth;
text-decoration:none;
}
:root {
--bg-color:#614848;
--main-color:#32dffd;
--text-color:#f1f1f1;
}
body{
   background-color: var(--bg-color)
    
}
header{
    position:relative ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;
    width: 85%;
;padding: 20px 10%;
background:transparent;
justify-content:space-between;
display: flex;
align-items: center;
z-index:100;
}

.logo{
    color: var(--main-color);
    font-style: initial;
    font-weight: bold;
    font-size:20px;
    transition: 0.3s ;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}
.logo:hover{
   transform:scale(1,1);
   transition: transform 0.5s;
   background-color: #b8ff45;
}
.navbar a{
    color: var(--text-color);
    margin-left: 4rem;
font-weight: 550;
transition: 0.3s ease;
}
.navbar a:hover{
    color: #2ded66;
    transition: 0.3s ease;
   
  
}


.h2{
color: rgb(242, 243, 244);
}
.home{
    height:100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.content{
    max-width: 800px;
    
}
.content h2{
font-size: larger,40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #46f27a;
}
.content p{
    font-size: 20px;
    color: var(--text-color);


}
.btn{
    padding: 15px 20px;
    background-color:var(--main-color) ;
      color: #e7e7e7;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
}
.btn:hover{
    background-color: #2ded66;
    animation: 0.3s ease;  
}
.content h3{
font-style: unset;
color: var(--main-color);
    
}


.content2{
    max-width: 800px;
    padding: 0% 10%;
    margin-top: 10%;

}
.content2 h1{
font-size: larger,40px;
color: #e2ec1d;
}
.content2 p{
    font-size: 20px;
    color: var(--text-color);
}
*{scroll-behavior: smooth;}
.content3{
    max-width: 800px;
    padding: 0% 10%;
    margin-top: 10%;

}
.content3 h1{
font-size: larger,40px;
color: #e6a03f;
}
.content3 p{
    font-size: 20px;
    color: var(--text-color);}


.container{
background-color: #ffffff;
    max-width: 600px;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: 50px auto;
}
.container h1{
align-items: center;
margin-bottom: 20px;
color: #333;
}
form input,textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 15px;
    
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}
.pp{
    font-size: 20px;
    color: #cf6060;
    margin-top: 20px;
}