{margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
scroll-behavior:smooth;
text-decoration:none;
}
:root {
--bg-color:#080808;
--main-color:#32dffd;
--text-color:#f1f1f1;
}
body{
   background-image:url("new.webp")

    
}
header{
    position:relative ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;
    width: 85%;
;padding: 20px 10%;
background:transparent;
justify-content:space-between;
display: flex;
align-items: center;
z-index:100;
}

.logo{
    color: var(--main-color);
    font-style: initial;
    font-weight: bold;
    font-size:20px;
    transition: 0.3s ;
}
.logo:hover{
   transform:scale(1,1);
   transition: transform 0.5s;
}
.navbar a{
    color: var(--text-color);
    margin-left: 4rem;
font-weight: 550;
transition: 0.3s ease;
}
.navbar a:hover{
    color: #2ded66;
    transition: 0.3s ease;
   
  
}


.h2{
color: rgb(242, 243, 244);
}
.home{
    height:100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.content{
    max-width: 800px;
    
}
.content h2{
font-size: larger,40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #46f27a;
}
.content p{
    font-size: 20px;
    color: var(--text-color);
}
.content h3{
font-style: unset;
color: var(--main-color);
    
}
.btn{
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 5px;
background-color: salmon;
width:fit-content;
z-index: -1;
padding: 10px 20px;
line-height: 100%;
}
.btn::after{
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid salmon;
    
    left: 100%;
    top: -10px;
    animation: alternate;
}
.btn::after:hover{
    color: var(--main-color);
    animation: alternate .5s   alternate-reverse delay iteration-count direction fill-mode;
}
.content2{
    max-width: 800px;
    padding: 0% 10%;
    margin-top: 10%;

}
.content2 h1{
font-size: larger,40px;
color: #46f27a;
}
.content2 p{
    font-size: 20px;
    color: var(--text-color);
}
*{scroll-behavior: smooth;}
.content3{
    max-width: 800px;
    padding: 0% 10%;
    margin-top: 10%;

}
.content3 h1{
font-size: larger,40px;
color: #46f27a;
}
.content3 p{
    font-size: 20px;
        color: var(--text-color);}